* {
    margin: 0px;
    box-sizing: border-box;
}



@media (max-width: 1440px){

    header {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        padding: 50px;
    }
    
    main section {
        display: flex;
        justify-content:center;
        margin: 165px, 100px;
    }

    main section article {
        width: 50%;
    }

    header ul {
        display: flex;
    }
    
    header ul li {
        margin-right: 10px;
        list-style-type: none;
    }

    header ul li a {
        text-decoration: none;
        
    }
    
    section article h2 {
        font-size: 58px;
        font-weight: 700;
    }


}

body {
    background-image: url('/img/bg-tablet-pattern.svg');
    background-repeat: repeat-y;
    background-position:right;
    font-size: 16px;
    font-family: 'Be Vietnam';
    color: rgb(35, 44, 81);
}

section article.grafic {
    background-image: url('/img/illustration-intro.svg');
}


button {
    background-color: rgb(242, 95, 58);
    color: white;
    border: 0px;
    border-radius: 20px;
    padding: 10px 20px;
    
}

button :hover {

}

footer {
    display: flex;
    justify-content: space-around;
    background-color: #1E1E26;
}

footer div img {
    color: white; 
}

